body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    text-align: center;
}

#select {
    position: absolute;
    top: 6%;
    left: 0%;
}

.ghost {
    opacity: 0;
    background: #C8EBFB;
}

#selectPanel {
    position: absolute;
    top: 6%;
    left: 0%;
    height: 88%;
    width: 100%;
    background-color: white;
}

#mainTitle {
    position: absolute;
    left: 30%;
    top: 20%;
    color: white;
    font-size: 50px;
    width: 40%;
    height: 90px;
    text-align: center;
}

#subTitle {
    position: absolute;
    left: 30%;
    top: 35%;
    color: white;
    font-size: 25px;
    width: 40%;
    font-family: Arial;
}

#introSelectButton {
    position: absolute;
    background-color: deepskyblue;
    top: 60%;
    left: 30%;
    height: 10%;
    width: 10%;
    text-align: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#practiceSelectButton {
    position: absolute;
    background-color: deepskyblue;
    top: 60%;
    left: 45%;
    height: 10%;
    width: 10%;
    text-align: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#advancedSelectButton {
    position: absolute;
    background-color: deepskyblue;
    top: 60%;
    left: 60%;
    height: 10%;
    width: 10%;
    text-align: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottominfo {
    position: absolute;
    bottom: 0%;
    left: 42%;
    color: black;
    font-family: monospace;
    font-size: 120%;
}

#part1 {
    position: absolute;
    top: 6%;
    left: 0%;
    height: 88%;
    width: 100%;
    background-color: white;
}

#head {
    top: 0%;
    left: 2%;
    position: absolute;
    height: 15%;
    width: 97%;
}

.title {
    position: absolute;
    height: 58%;
    width: 13.5%;
    flex-direction: row;
    top: -20%;
    left: 0%;
    flex-wrap: nowrap;
    background-color: deepskyblue;
    color: white;
    font-family: Arial;
    font-size: 40px;
    /*
        to put text center of div, very important
        */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameDescription {
    color: gray;
    position: absolute;
    top: 45%;
    left: 1%;
    font-size: 20px
}

#backFromIntro {
    position: absolute;
    height: 30%;
    top: 15%;
    left: 92.4%;
    width: 5%;
    background-color: dimgray;
    background-blend-mode: color-burn;
}

#backFromPractice {
    position: absolute;
    height: 5%;
    top: 3%;
    left: 92.4%;
    width: 5%;
    background-color: dimgray;
    background-blend-mode: color-burn;
}

.button {
    color: white;
    font-family: Arial;
    font-size: 25px;
    padding: 0.2%;
    cursor: pointer;
}

#answerDiv {
    position: absolute;
    left: 2%;
    top: 12%;
    height: 22%;
    width: 96%;
    background-color: antiquewhite;
}

.answer {
    position: relative;
    float: left;
    height: 60%;
    width: 5.93%;
    padding: 0.5%;
    margin: 0.7%;
    margin-top: 1%;
    background-color: white;
    cursor: pointer;
    outline-color: deepskyblue;
    outline-width: medium;
    outline-style: solid;
}

.rightAnswer {
    -webkit-box-shadow: 0px 0px 36px 10px rgba(0, 204, 255, 1);
    -moz-box-shadow: 0px 0px 36px 10px rgba(0, 204, 255, 1);
    box-shadow: 0px 0px 36px 10px rgba(0, 204, 255, 1);
}

#showAnswer {
    position: relative;
    left: 33%;
    top: 35%;
    height: 64%;
    width: 38%;
    max-height: 100%;
}

#answerImg {
    max-width: 98%;
    min-width: 85%;
    top: 0.5%;
    left: 2%;
    margin: auto;
    display: block;
    position: absolute;
    max-height: 100%;
}

.answerIcon {
    max-width: 100%;
    min-height: 100%;
    margin: auto;
    display: block;
    object-fit: scale-down;
}

#display {
    margin: auto;
    width: 600px;
    height: auto;
    padding: 10px;
    background-color: #eeeeee;
}

.tube {
    width: 100%;
    height: 100%;
    position: absolute;
}

.pipet {
    width: auto;
    height: 6%;
    position: absolute;
    left: 45.5%;
    top: 60%;
}

#container {
    left: 55%;
    top: 50%;
    height: 20%;
    position: absolute;
}

#plasmidContainer {
    left: 47.5%;
    top: 53%;
    height: 17%;
    position: absolute;
}

.pipette {
    width: auto;
    height: 50%;
    position: absolute;
    left: 2%;
    top: 12%;
}

#pipette1 {
    position: absolute;
}

#part2 {
    position: absolute;
    margin: 0px;
    background-color: #e8e9e8;
}

#gameTable {
    top: -5%;
    height: 100%;
    left: 2%;
    width: 71.7%;
    position: absolute;
}

#gameTable2 {
    top: -5%;
    height: 100%;
    left: 2%;
    width: 71.7%;
    position: absolute;
}

.starterPlate {
    position: absolute;
    top: 57%;
    left: 15%;
}

.petriDish {
    width: auto;
    height: 10%;
    position: absolute;
}

#petriDish1 {
    left: 16%;
    top: 75%;
}

#petriDish2 {
    left: 36%;
    top: 75%;
}

#petriDish3 {
    left: 56%;
    top: 75%;
}

#petriDish4 {
    left: 76%;
    top: 75%;
}

#debug {
    position: absolute;
    left: 70%;
    width: 200px;
    padding: 10px;
    margin: 50px;
}
#top {
    
    position: absolute;
    top: 0%;
    width: 100%;
    height: 38%;
    left: 0%;
    pointer-events: none;
    background-color: #542056;
}
#table {
    position: absolute;
    top: 38%;
    width: 100%;
    height: 55%;
    left: 0%;
    pointer-events: none;
    background-color: #545556;
}

#icebox {
    position: absolute;
    height: 15%;
    top: 30%;
    left: 40%;
    opacity: 1;
    pointer-events: none;
}

#tube1Pos {
    position: absolute;
    left: 53.5%;
    top: 51%;
    width: 12%;
    height: 12%;
}

#tube2Pos {
    position: absolute;
    left: 46.5%;
    top: 51%;
    width: 12%;
    height: 12%;
}

#tube2 {
    position: absolute;
    left: 68.5%;
    top: 51%;
    width: 12%;
    height: 12%;
}

#tube1 {
    position: absolute;
    left: 77.5%;
    top: 51%;
    width: 12%;
    height: 12%;
}

.loop {
    position: absolute;
    height: 50%;
    width: auto;
}

.loopLoc {
    top: 12%;
    left: 8%;
}

.cube {
    width: auto;
    height: 20%;
    position: absolute;
    left: 72%;
    top: 50%;
    pointer-events: none;
}

.cubeTop {
    width: auto;
    height: 20%;
    position: absolute;
    left: 72%;
    top: 50%;
}

#waterBath1 {
    position: absolute;
    left: 70%;
    top: 27%;
    width: auto;
    height: 20%;
}

#waterBath2 {
    position: absolute;
    left: 73.8%;
    top: 22.5%;
    width: auto;
    height: 4.8%;
}

@keyframes waterBathLeft {
    0% {
        left: 73.8%;
        top: 22.5%;
    }
    100% {
        left: 80%;
        top: 10.5%;
        transform: rotate(60deg);
    }
}

@keyframes waterBathLeft2 {
    0% {
        left: 80%;
        top: 10.5%;
        transform: rotate(60deg);
    }
    100% {
        left: 73.8%;
        top: 22.5%;
    }
}

#cubeWithTubes {
    position: absolute;
    left: 69%;
    top: 50%;
    width: 20%;
    height: 20%;
}

#CWTcubeTop {
    position: absolute;
    width: auto;
    height: 100%;
    left: 15%;
    top: 0%;
}

#CWTTube1 {
    position: absolute;
    width: auto;
    height: 59%;
    left: 25%;
    top: 7.4%;
}

#CWTTube2 {
    position: absolute;
    width: auto;
    height: 59%;
    left: 55%;
    top: 7.4%;
}

#CWTcube {
    position: absolute;
    width: auto;
    height: 100%;
    left: 15%;
    top: 0%;
}

#tubeInWaterbath {
    position: absolute;
    left: 76%;
    top: 25%;
    width: 10%;
    height: 10%;
}

#WBTube1 {
    position: absolute;
    width: auto;
    height: 100%;
    left: 10%;
    top: 5%;
}

#WBTube2 {
    position: absolute;
    width: auto;
    height: 100%;
    left: 50%;
    top: 5%;
}

#BrothContainer {
    position: absolute;
    left: 36%;
    top: 52%;
    height: 18%;
}

#IceboxTube1 {
    position: absolute;
    width: auto;
    height: 100%;
    left: 10%;
    top: 5%;
}

#IceboxTube2 {
    position: absolute;
    width: auto;
    height: 100%;
    left: 70%;
    top: 5%;
}

#tubeInIcebox {
    position: absolute;
    left: 55%;
    top: 28%;
    width: 10%;
    height: 10%;
}

#instructionTable {
    position: absolute;
    top: 10%;
    left: 74.5%;
    width: 23%;
    height: 88%;
}

#instructionTable {
    font-family: Amaranth;
}

#insPic {
    width: 90%;
}

.step {
    margin-bottom: 1.5%;
    padding-left: 3%;
    display: flex;
    align-items: center;
    background-color: deepskyblue;
}

.gradient-pattern {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.0666667) 50%, rgba(0, 0, 0, 0) 50%), -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.129412) 50%, rgba(0, 0, 0, 0) 50%), -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.168627) 50%), -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.188235) 50%), rgba(25, 78, 114, 1);
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.0666667) 50%, rgba(0, 0, 0, 0) 50%), -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.129412) 50%, rgba(0, 0, 0, 0) 50%), -moz-linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.168627) 50%), -moz-linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.188235) 50%), rgba(25, 78, 114, 1);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.0666667) 50%, rgba(0, 0, 0, 0) 50%), linear-gradient(90deg, rgba(255, 255, 255, 0.129412) 50%, rgba(0, 0, 0, 0) 50%), linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.168627) 50%), linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.188235) 50%), rgba(25, 78, 114, 1);
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 13px 13px, 29px 29px, 37px 37px, 53px 53px;
    background-size: 13px 13px, 29px 29px, 37px 37px, 53px 53px;
}

.bluePanel {
    background-color: #1a8cff;
    width: 100%;
    height: 100%;
}


/*
writing animation
*/

.mover {
    animation-name: moveWords;
    animation-duration: 3s;
}

@keyframes moveWords {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(12vw, 0vw);
        display: none;
    }
}

@keyframes write {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(1vw, 3vw);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes largerTube {
    0% {}
    100% {
        transform: rotate(-90deg) scale(4, 4) translate(3vw, -5vw);
    }
}

@keyframes smallerTube {
    0% {
        transform: rotate(-90deg) scale(4, 4) translate(3vw, -5vw);
    }
    100% {}
}

#pen {
    position: absolute;
    height: 100%;
    animation-name: write;
    animation-duration: 0.2s;
    animation-iteration-count: 4;
}

#penMover {
    position: absolute;
    top: -5%;
    left: 30%;
    height: 20%;
    animation-name: moveWords;
    animation-duration: 1s;
}

#penMover1 {
    position: absolute;
    top: 5%;
    left: 40%;
    height: 20%;
    animation-name: moveWords;
    animation-duration: 1s;
}

#writeDish {
    position: absolute;
    height: 70%;
    top: 10%;
    left: 23%;
}

.dishLabel {
    position: absolute;
    height: 30%;
    top: 15%;
    left: 27%;
}

#trashBin {
    position: absolute;
    height: 25%;
    width: auto;
    top: 25%;
    left: 22%;
}

.timerPanel {
    position: absolute;
    top: 5%;
    left: 0%;
    height: 88%;
    width: 100%;
    background: rgba(200, 200, 200, 0.9);
    font-family: cursive;
    font-size: 170%;
    justify-content: center;
    align-items: center;

}

@keyframes loop {
    0% {
        transform: rotate(-50deg)
    }
    40% {
        transform: rotate(-70deg)
    }
    100% {}
}

.topview {
    position: absolute;
    top: 20%;
    left: 35%;
    height: 50%;
    width: auto;
}

#messager {
    position: absolute;
    top: 82%;
    left: -3%;
    width: 97%;
    height: 10%;
    padding: 10px;
    margin: 50px;
    font-size: 200%;
    font-family: Amaranth;
}

#rotate {
    position: absolute;
    top: 3%;
    left: 39%;
    width: 20%;
    height: 7%;
    padding: 10px;
    margin: 50px;
    font-size: 200%;
}

.rotated {
    transform: rotate(90deg);
}

#stack {
    position: absolute;
    top: 30%;
    left: 39%;
    width: 20%;
}

.stackUpSideDown {
    transform: rotate(180deg);
}

@keyframes stack1 {
    0% {}
    100% {
        transform: translate(18vw, -21vw)
    }
}

@keyframes stack2 {
    0% {}
    100% {
        transform: translate(5vw, -19vw)
    }
}

@keyframes stack3 {
    0% {}
    100% {
        transform: translate(-8vw, -17vw)
    }
}

@keyframes stack4 {
    0% {}
    100% {
        transform: translate(-21vw, -15vw)
    }
}

@keyframes upSideDown {
    0% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

#incubator {
    position: absolute;
    height: 35%;
    width: auto;
    top: 25%;
    left: 10%;
}

#transilluminator {
    position: absolute;
    height: 40%;
    top: 30%;
    left: 40%;
}

#petriDish21 {
    left: 10%;
    top: 75%;
}

#petriDish22 {
    left: 32%;
    top: 75%;
}

#petriDish23 {
    left: 54%;
    top: 75%;
}

#petriDish24 {
    left: 76%;
    top: 75%;
}

#transillumintorWithDish {
    position: absolute;
    height: 25%;
    top: 45%;
    left: 54%;
}

#dish2 {}

#zoomedPic {
    position: absolute;
    height: 80%;
    top: 10%;
    left: 25%;
}

.label {
    position: absolute;
    height: 80%;
    font-family: cursive;
    color: aliceblue;
    font-size: 140%;
}

#label1 {
    top: 87%;
    left: 17%;
}

#label2 {
    top: 87%;
    left: 36%;
}

#label3 {
    top: 87%;
    left: 58%;
}

#label4 {
    top: 87%;
    left: 80%;
}

#drawLoop {
    position: absolute;
    top: 0%;
    left: 50%;
    width: auto;
    height: 50%;
    transform: rotate(30deg);
    animation-name: loopDraw;
    animation-duration: 0.4s;
    animation-iteration-count: 4;
}

@keyframes loopDraw {
    0% {
        transform: rotate(30deg);
    }
    50% {
        transform: translate(7vw, -7vw) rotate(30deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

@keyframes twist2 {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}

@keyframes twist1 {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(360deg);
    }
}

.twistLoc1 {
    left: 54.5%;
    top: 11%;
}

.twistLoc2 {
    left: 61%;
    top: 11%;
}

@keyframes zoom1 {
    from {}
    to {
        left: -70.5%;
        top: -100.5%;
        width: 275%;
        height: 275%;
    }
}

@keyframes zoomRe1 {
    from {
        left: -70.5%;
        top: -100.5%;
        width: 275%;
        height: 275%;
    }
    to {}
}

@keyframes zoom2 {
    from {}
    to {
        left: -45.5%;
        top: -70.5%;
        width: 245%;
        height: 245%;
    }
}

@keyframes zoomRe2 {
    from {
        left: -45.5%;
        top: -70.5%;
        width: 245%;
        height: 245%;
    }
    to {}
}

@keyframes zoom3 {
    from {}
    to {
        left: -13.5%;
        top: -90.5%;
        width: 275%;
        height: 275%;
    }
}

@keyframes zoomRe3 {
    from {
        left: -13.5%;
        top: -90.5%;
        width: 275%;
        height: 275%;
    }
    to {}
}

.anim_zoom1 {
    animation: zoom1 0.25s cubic-bezier(.5, 0, 1, .5) 0s 1 forwards;
}

.anim_zoomRe1 {
    animation: zoomRe1 0.5s cubic-bezier(.5, 0, 1, .5) 0s 1 forwards;
}

.anim_zoom2 {
    animation: zoom2 0.25s cubic-bezier(.5, 0, 1, .5) 0s 1 forwards;
}

.anim_zoomRe2 {
    animation: zoomRe2 0.5s cubic-bezier(.5, 0, 1, .5) 0s 1 forwards;
}

.anim_zoom3 {
    animation: zoom3 0.25s cubic-bezier(.5, 0, 1, .5) 0s 1 forwards;
}

.anim_zoomRe3 {
    animation: zoomRe3 0.25s cubic-bezier(.5, 0, 1, .5) 0s 1 forwards;
}

#fakepipette1 {
    position: absolute;
    left: 58.3%;
    top: 10%;
}

#fakeLoop {
    position: absolute;
    left: 48.8%;
    top: 20%;
}

#fakeLoop0 {
    left: 27%;
    top: 11%;
}

#fakeLoop1 {
    left: 76%;
    top: 11%;
}

#fakeLoop2 {
    left: 85%;
    top: 11%;
}

p.speech {
    position: absolute;
    width: 7%;
    height: 5%;
    text-align: center;
    font-size: 150%;
    line-height: 100px;
    background-color: #fff;
    border: 8px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

#p1 {
    top: 40%;
    left: 33%;
}