.position {
    width: 130px;
    padding: 15px;
    border: 1px solid #aaaaaa;
}

.positionsLocation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #eeeeee;
}

.answer {
    float: left;
    width: 100px;
    padding: 5px;
    border: 3px solid #aaaaaa;
}

.answerDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#display {
    margin: auto;
    width: 600px;
    height: auto;
    border: 3px solid #73AD21;
    padding: 10px;
    background-color: #eeeeee;
}

.tube {
    width: 100%;
    height: 100%;
    position: absolute;
}



.pipet {
    width: auto;
    height: 6%;
    position: absolute;
    left: 45.5%;
    top: 60%;
}

.container {
    width: auto;
    height: 25%;
    position: absolute;
    left: 30%;
    top: 53%;
}

.pipette {
    width: auto;
    height: 50%;
    position: absolute;
    left: 5%;
    top: 5%;
}

#part2 {
    top: 5%;
    left: 10%;
    width: 70%;
    height: 90%;
    position: absolute;
    vertical-align: top;
    background-color: #e8e9e8;
}

.petriDish {
    width: auto;
    height: 12%;
    position: absolute;
}

#petriDish1 {
    left: 15%;
    top: 78%;
}
#petriDish2 {
    left: 32%;
    top: 78%;
}#petriDish3 {
    left: 49%;
    top: 78%;
}#petriDish4 {
    left: 66%;
    top: 78%;
}

#debug {
    position: absolute;
    left: 70%;
    width: 200px;
    padding: 10px;
    border: 10px solid navy;
    margin: 50px;
}

#table {
    position: absolute;
    top: -10%;
    width: 100%;
    height: 150%;
    pointer-events: none;
}

#icebox {
    position: absolute;
    height: 15%;
    top: 30%;
    left: 50%;
    opacity: 1;
    pointer-events: none;
}

#tube1Pos {
    position: absolute;
    left: 60%;
    top: 60%;

    width: 12%;
    height: 12%;
}

#nameDisplay{
    position:absolute;
    left:60%;
    top:40%;
}
#tube2Pos {
    position: absolute;
    left: 43%;
    top: 60%;

    width: 12%;
    height: 12%;
}

.loop{
    position: absolute;
    left: 10%;
    width: auto;
    height: 50%;
}

.cube{
   width:auto;
   height:20%;
   position:absolute;
   left:50%;
   top: 50%;
   pointer-events: none;
}

.cubeTop{
   width:auto;
   height:20%;
   position:absolute;
   left:50%;
   top: 50%;
}